main .wrapper #slide1:checked ~ .slider-prev-next-control label:nth-child(2),
main .wrapper #slide2:checked ~ .slider-prev-next-control label:nth-child(3),
main .wrapper #slide4:checked ~ .slider-prev-next-control label:nth-child(2),
main .wrapper #slide5:checked ~ .slider-prev-next-control label:nth-child(3),
main .wrapper #slide6:checked ~ .slider-prev-next-control label:nth-child(4),
main .wrapper #slide8:checked ~ .slider-prev-next-control label:nth-child(2),
main .wrapper #slide9:checked ~ .slider-prev-next-control label:nth-child(3),
main .wrapper #slide10:checked ~ .slider-prev-next-control label:nth-child(4),
main .wrapper #slide12:checked ~ .slider-prev-next-control label:nth-child(2),
main .wrapper #slide13:checked ~ .slider-prev-next-control label:nth-child(3),
main .wrapper #slide14:checked ~ .slider-prev-next-control label:nth-child(4),
main .wrapper #slide16:checked ~ .slider-prev-next-control label:nth-child(2),
main .wrapper #slide17:checked ~ .slider-prev-next-control label:nth-child(3),
main .wrapper #slide18:checked ~ .slider-prev-next-control label:nth-child(4),
main .wrapper #slide19:checked ~ .slider-prev-next-control label:nth-child(5),
main .wrapper #slide21:checked ~ .slider-prev-next-control label:nth-child(2),
main .wrapper #slide22:checked ~ .slider-prev-next-control label:nth-child(3),
main .wrapper #slide23:checked ~ .slider-prev-next-control label:nth-child(4),
main .wrapper #slide25:checked ~ .slider-prev-next-control label:nth-child(2),
main .wrapper #slide26:checked ~ .slider-prev-next-control label:nth-child(3),
main .wrapper #slide27:checked ~ .slider-prev-next-control label:nth-child(4),
main .wrapper #slide29:checked ~ .slider-prev-next-control label:nth-child(2),
main .wrapper #slide30:checked ~ .slider-prev-next-control label:nth-child(3) {
  float: right;
}

main .wrapper #slide2:checked ~ .slider-prev-next-control label:nth-child(1),
main .wrapper #slide3:checked ~ .slider-prev-next-control label:nth-child(2),
main .wrapper #slide5:checked ~ .slider-prev-next-control label:nth-child(1),
main .wrapper #slide6:checked ~ .slider-prev-next-control label:nth-child(2),
main .wrapper #slide7:checked ~ .slider-prev-next-control label:nth-child(3),
main .wrapper #slide9:checked ~ .slider-prev-next-control label:nth-child(1),
main .wrapper #slide10:checked ~ .slider-prev-next-control label:nth-child(2),
main .wrapper #slide11:checked ~ .slider-prev-next-control label:nth-child(3),
main .wrapper #slide13:checked ~ .slider-prev-next-control label:nth-child(1),
main .wrapper #slide14:checked ~ .slider-prev-next-control label:nth-child(2),
main .wrapper #slide15:checked ~ .slider-prev-next-control label:nth-child(3),
main .wrapper #slide17:checked ~ .slider-prev-next-control label:nth-child(1),
main .wrapper #slide18:checked ~ .slider-prev-next-control label:nth-child(2),
main .wrapper #slide19:checked ~ .slider-prev-next-control label:nth-child(3),
main .wrapper #slide20:checked ~ .slider-prev-next-control label:nth-child(4),
main .wrapper #slide22:checked ~ .slider-prev-next-control label:nth-child(1),
main .wrapper #slide23:checked ~ .slider-prev-next-control label:nth-child(2),
main .wrapper #slide24:checked ~ .slider-prev-next-control label:nth-child(3),
main .wrapper #slide26:checked ~ .slider-prev-next-control label:nth-child(1),
main .wrapper #slide27:checked ~ .slider-prev-next-control label:nth-child(2),
main .wrapper #slide28:checked ~ .slider-prev-next-control label:nth-child(3),
main .wrapper #slide30:checked ~ .slider-prev-next-control label:nth-child(1),
main .wrapper #slide31:checked ~ .slider-prev-next-control label:nth-child(2) {
  float: left;
}

main .wrapper #slide1:checked ~ .slider-dot-control label:nth-child(1),
main .wrapper #slide2:checked ~ .slider-dot-control label:nth-child(2),
main .wrapper #slide3:checked ~ .slider-dot-control label:nth-child(3),
main .wrapper #slide4:checked ~ .slider-dot-control label:nth-child(1),
main .wrapper #slide5:checked ~ .slider-dot-control label:nth-child(2),
main .wrapper #slide6:checked ~ .slider-dot-control label:nth-child(3),
main .wrapper #slide7:checked ~ .slider-dot-control label:nth-child(4),
main .wrapper #slide8:checked ~ .slider-dot-control label:nth-child(1),
main .wrapper #slide9:checked ~ .slider-dot-control label:nth-child(2),
main .wrapper #slide10:checked ~ .slider-dot-control label:nth-child(3),
main .wrapper #slide11:checked ~ .slider-dot-control label:nth-child(4),
main .wrapper #slide12:checked ~ .slider-dot-control label:nth-child(1),
main .wrapper #slide13:checked ~ .slider-dot-control label:nth-child(2),
main .wrapper #slide14:checked ~ .slider-dot-control label:nth-child(3),
main .wrapper #slide15:checked ~ .slider-dot-control label:nth-child(4),
main .wrapper #slide16:checked ~ .slider-dot-control label:nth-child(1),
main .wrapper #slide17:checked ~ .slider-dot-control label:nth-child(2),
main .wrapper #slide18:checked ~ .slider-dot-control label:nth-child(3),
main .wrapper #slide19:checked ~ .slider-dot-control label:nth-child(4),
main .wrapper #slide20:checked ~ .slider-dot-control label:nth-child(5),
main .wrapper #slide21:checked ~ .slider-dot-control label:nth-child(1),
main .wrapper #slide22:checked ~ .slider-dot-control label:nth-child(2),
main .wrapper #slide23:checked ~ .slider-dot-control label:nth-child(3),
main .wrapper #slide24:checked ~ .slider-dot-control label:nth-child(4),
main .wrapper #slide25:checked ~ .slider-dot-control label:nth-child(1),
main .wrapper #slide26:checked ~ .slider-dot-control label:nth-child(2),
main .wrapper #slide27:checked ~ .slider-dot-control label:nth-child(3),
main .wrapper #slide28:checked ~ .slider-dot-control label:nth-child(4),
main .wrapper #slide29:checked ~ .slider-dot-control label:nth-child(1),
main .wrapper #slide30:checked ~ .slider-dot-control label:nth-child(2),
main .wrapper #slide31:checked ~ .slider-dot-control label:nth-child(3) {
  opacity: 0.5;
}

main .wrapper #slide1:checked ~ .slider-wrapper .inner,
main .wrapper #slide4:checked ~ .slider-wrapper .inner,
main .wrapper #slide8:checked ~ .slider-wrapper .inner,
main .wrapper #slide12:checked ~ .slider-wrapper .inner,
main .wrapper #slide16:checked ~ .slider-wrapper .inner,
main .wrapper #slide21:checked ~ .slider-wrapper .inner,
main .wrapper #slide25:checked ~ .slider-wrapper .inner,
main .wrapper #slide29:checked ~ .slider-wrapper .inner {
  margin-left: 0;
}

main .wrapper #slide2:checked ~ .slider-wrapper .inner,
main .wrapper #slide5:checked ~ .slider-wrapper .inner,
main .wrapper #slide9:checked ~ .slider-wrapper .inner,
main .wrapper #slide13:checked ~ .slider-wrapper .inner,
main .wrapper #slide17:checked ~ .slider-wrapper .inner,
main .wrapper #slide22:checked ~ .slider-wrapper .inner,
main .wrapper #slide26:checked ~ .slider-wrapper .inner,
main .wrapper #slide30:checked ~ .slider-wrapper .inner {
  margin-left: -100%;
}

main .wrapper #slide3:checked ~ .slider-wrapper .inner,
main .wrapper #slide6:checked ~ .slider-wrapper .inner,
main .wrapper #slide10:checked ~ .slider-wrapper .inner,
main .wrapper #slide14:checked ~ .slider-wrapper .inner,
main .wrapper #slide18:checked ~ .slider-wrapper .inner,
main .wrapper #slide23:checked ~ .slider-wrapper .inner,
main .wrapper #slide27:checked ~ .slider-wrapper .inner,
main .wrapper #slide31:checked ~ .slider-wrapper .inner {
  margin-left: -200%;
}

main .wrapper #slide7:checked ~ .slider-wrapper .inner,
main .wrapper #slide11:checked ~ .slider-wrapper .inner,
main .wrapper #slide15:checked ~ .slider-wrapper .inner,
main .wrapper #slide19:checked ~ .slider-wrapper .inner,
main .wrapper #slide24:checked ~ .slider-wrapper .inner,
main .wrapper #slide28:checked ~ .slider-wrapper .inner {
  margin-left: -300%;
}

main .wrapper #slide20:checked ~ .slider-wrapper .inner {
  margin-left: -400%;
}

main .wrapper {
  text-align: center;
}

main .wrapper input {
  display: none;
}

main .wrapper .inner {
  width: 500%;
}

main .wrapper article {
  float: left;
  width: 20%;
}

main .wrapper article img {
  width: 100%;
  max-width: 100%;
}

main .wrapper .slider-prev-next-control {
  display: inline-block;
  overflow: hidden;
  width: 50%;
  position: relative;
  top: -18vw;
}

main .wrapper .slider-prev-next-control label {
  opacity: 0.5;
  width: 8%;
  height: 4vw;
  border-radius: 2vw;
  background: #c5c3c0;
}

main .wrapper .slider-dot-control {
  margin-bottom: -7%;
  position: relative;
  top: -7vw;
  text-align: center;
}

main .wrapper .slider-dot-control label {
  cursor: pointer;
  display: inline-block;
  width: 1%;
  height: 1vw;
  border-radius: 1vw;
  background: #c5c3c0;
}

main .wrapper .slider-wrapper {
  display: inline-block;
  overflow: hidden;
  width: 50%;
  border-radius: 2vw;
}

main .wrapper .slider-wrapper .inner {
  -webkit-transition: all .8s;
  transition: all .8s;
}
/*# sourceMappingURL=base.css.map */