@import "reset";
main
{
    .wrapper
    {
        text-align: center;
        input
        {
            display: none;
        }
        .inner
        {
            width: 500%;
        }
        figure
        {
            float: left;
            width: 20%;
            margin: 0;
            img
            {
                width: 100%;
                max-width: 100%;
            }
        }
        .slider-prev-next-control
        {
            display: inline-block;
            overflow: hidden;
            width: 50%;
            position: relative;
            top: -18vw;
            label
            {
                opacity: 0.5;
                width: 8%;
                height: 4vw;
                border-radius: 2vw;
                background: #c5c3c0;
            }
        }
        .slider-dot-control
        {
            margin-bottom: -7%;
            position: relative;
            top: -7vw;
            text-align: center;
            label
            {
                cursor: pointer;
                display: inline-block;
                width: 1%;
                height: 1vw;
                border-radius: 1vw;
                background: #c5c3c0;
            }
        }
        .slider-wrapper
        {
            display: inline-block;
            overflow: hidden;
            width: 50%;
            border-radius: 2vw;
            .inner
            {
                transition-duration: 1s;
            }
        }
    }
}