$primary-color: #111213;
$secondary-color: #272727;
@mixin primary-font()
{
    font-size: 2vw;
    color: #c5c3c0;
    font-family: 'Times New Roman', 'Times', serif;
}
@mixin secondary-font()
{
    font-size: 2vw;
    color: #c5c3c0;
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
@mixin fixed()
{
    position: fixed;
    top: 0;
    z-index: 1;
}
@mixin background-image()
{
    background-blend-mode: color-dodge;
    background: $primary-color no-repeat center fixed;
}
@mixin href()
{
    a
    {
        text-decoration: unset;
        color: #c5c3c0;
    }
    a:hover
    {
        color: #111213;
    }
}
body
{
    @include background-image();
    background-image: url("Логотип/background3.jpg");
    background-size: contain;
    margin: 0;
    @include href();
    header
    {
        display: grid;
        width: 100%;
        height: 5vw;
        grid-template-columns: 3fr 1fr 3fr;
        @include primary-font();
        @include fixed();
        background: $secondary-color;
        div[data-title = "tide"]
        {
            margin: unset;
            span
            {
                font-size: 3vw;
                position: relative;
                top: 0.6vw;
            }
        }
        div 
        {
            margin: auto;
            audio
            {
                width: 100%;
                height: 3vw;
            }
        }
        img
        {
            float: left;
            width: 11%;
            max-width: 11%;
            margin: 0 1% 0 6%;
        }
    }
    aside
    {
        margin: 6% 0 0 0;
        padding-bottom: 2%;
        width: 100%;
        border-bottom: 5vw solid $secondary-color;
        @include secondary-font();
        img
        {
            float: left;
            width: 30%;
            max-width: 30%;
            margin: 0 1% 0 2%;
        }
        span
        {
            text-align: left;
            line-height: 4vw;
        }
    }
    main
    {
        width: 100%;
        @include secondary-font();
        h2
        {
            @include primary-font();
            font-size: 4vw;
            text-align: center;
        }
        p
        {
            box-sizing: border-box;
            padding-left: 2%;
            padding-right: 2%;
            hyphens: auto;
        }
    }
    footer
    {
        display: grid;
        width: 100%;
        height: 5vw;
        background: $secondary-color;
        grid-template-columns: repeat(3, 1fr);
        img
        {
            width: 4.6vw;
            max-width: 4.6vw;
        }
        div[data-title = "vk"]
        {
            text-align: right;
        }
        div[data-title = "github"]
        {
            margin: auto;
        }
    }
}