@charset "UTF-8";
body {
  background-blend-mode: color-dodge;
  background: #111213 no-repeat center fixed;
  /*background-image: url("Логотип/background.jpg");
    background-size: contain;*/
  margin: 0;
}

body a {
  text-decoration: unset;
  color: #c5c3c0;
}

body a:hover {
  color: #111213;
}

body a:active > img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

body input {
  display: none;
}

body input:checked ~ header label:after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

body input:checked ~ aside ul {
  -webkit-transform: translateY(3vw);
          transform: translateY(3vw);
}

body header {
  display: -ms-grid;
  display: grid;
  z-index: 1;
  width: 100%;
  height: 5vw;
  -ms-grid-columns: 1fr 1.2fr;
      grid-template-columns: 1fr 1.2fr;
  font-size: 2vw;
  color: #c5c3c0;
  font-family: 'Times New Roman', 'Times', serif;
  position: fixed;
  top: 0;
  background: #272727;
}

body header div[data-title="tide"] {
  margin: unset;
}

body header div[data-title="tide"] span {
  font-size: 3vw;
  position: relative;
  top: 0.6vw;
}

body header div {
  margin: auto 0;
}

body header label {
  cursor: pointer;
}

body header label:active {
  color: #111213;
}

body header label:after {
  display: inline-block;
  content: '\27A4';
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

body header img {
  float: left;
  width: 10.4%;
  max-width: 10.4%;
  margin: 0 1% 0 6%;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

body aside {
  width: 100%;
  font-size: 2vw;
  color: #c5c3c0;
  font-family: 'Times New Roman', 'Times', serif;
  position: fixed;
  top: 0;
}

body aside ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transform: translateY(-7.7vw);
          transform: translateY(-7.7vw);
}

body aside ul li {
  font-size: 3vw;
  width: 17.8%;
  text-align: center;
  border-bottom: #111213 solid 0.2vw;
  background: #272727;
}

body main {
  margin: 6% 0 0 0;
  font-size: 2vw;
  color: #c5c3c0;
  font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main figure {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  text-align: justify;
}

body main figure img {
  width: 100%;
}

body footer {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 5vw;
  background: #272727;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

body footer img {
  width: 4.6vw;
  max-width: 4.6vw;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

body footer div[data-title="vk"] {
  text-align: right;
}

body footer div[data-title="github"] {
  margin: auto;
}
/*# sourceMappingURL=Меню.css.map */